---
layout: default
title: Huntsville Cleaning Services
seo_title:
description: >-
  Commercial and residential cleaning services for the Huntsville and Madison
  Alabama area.
intro_area:
  text: >-
    Commercial and residential cleaning services for the Huntsville and Madison
    Alabama area.
  button_url:
  button_text:
  image: /uploads/20200616_114848.jpg
  image_alt_text:
featured_image:
page_blocks:
  - _id: entry_content
    entry_content:
      - image: /uploads/diluth-cleaning.jpg
        content_title: Commercial Cleaning Services
        text_html: >-
          <p>Learn more about how we can help you with commercial janitorial
          services.</p>
        button:
          text: Learn More
          link: /commercial/
          button_style: primary
      - image: /uploads/sink.jpg
        content_title: Residential Cleaning Services
        text_html: >-
          <p>A happy home is a clean home. Learn more about how we can help keep
          your home clean.</p>
        button:
          text: Learn More
          link: /residential/
          button_style: primary
  - _id: features
    features:
      - icon: comments
        feature_title: Serve
        text_html: >-
          <p>We believe it should be done your way. Our job is to make your life
          easier so you have time to enjoy what matters most. Let us know how we
          can serve you better!</p>
      - icon: shield-alt
        feature_title: Trust
        text_html: >-
          <p>Cleaning is more personal than many services, we work to establish
          a dedicated Cleaning Specialist for your property. The cleaners coming
          into your home or business will treat your home and belongings with
          care and concern. You can trust us to leave your home better than we
          found it.</p>
      - icon: trophy
        feature_title: Excellence
        text_html: >-
          <p>We pride ourselves on a job well done, we want you to take pride in
          it too. Your recommendation is the best compliment we can receive. Our
          excellent service to you and your family is the only way to earn that
          compliment.</p>
      - icon: hourglass
        feature_title: Professionalism
        text_html: >-
          <p>Your time is valuable. When you use your time preparing for us to
          clean, we take that seriously. We show up on time, ready to work.
          Getting our job done with efficiently and promptly gives you more time
          to do the things you love.</p>
      - icon: puzzle-piece
        feature_title: Community
        text_html: >-
          <p>We live and work here too. Helping to provide work opportunities
          and cleaning services builds the community. Giving back to the
          community not only betters others lives but gives us the opportunity
          to better ourselves.</p>
permalink: /
_disable_title_filename_sync: true
---

<article class="page" itemscope itemtype="https://schema.org/CreativeWork">

  <header class="page__header">
    <div class="page__header-content">
      <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
      {% if page.intro_area.text %}<p>{{ page.intro_area.text }}</p>{% endif %}
      {% if page.intro_area.button_url %}<a class="button primary" href="{{ page.intro_area.button_url }}">{{ page.intro_area.button_text }}</a>{% endif %}
    </div>
    <div class="page__header-image">
      <img src="{{ page.intro_area.image }}" alt="{% if page.intro_area.image_alt_text %}{{ page.intro_area.image_alt_text }}{% else %}{{ page.title }}{% endif %}">
    </div>
  </header>

  {% for block in page.page_blocks %}
    {% case block._id %}
      {% when 'entry_content' %}
        <div class="spotlight archive">
          {% for entry in block.entry_content %}
            <div class="entry">
              <div class="entry__image background-image{% cycle '', ' reverse' %}" style="background-image:url('{{ entry.image }}')"></div>
              <div class="entry__content">
                <h2>{{ entry.content_title }}</h2>
                {{ entry.text_html }}
                {% if entry.button.link %}<a href="{{ entry.button.link }}" class="button {{ entry.button.button_style }}">{{ entry.button.text }}</a>{% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% when 'features' %}
        <div class="features">
          {% for feature in block.features %}
            <div class="feature">
              <div class="icon">
                {% include icons.html icon=feature.icon %}
              </div>
              <h2>{{ feature.feature_title }}</h2>
              {{ feature.text_html }}
            </div>
          {% endfor %}
        </div>
      {% when 'cta' %}
        <div class="cta">
          <div class="cta__inner">

            <div class="cta__content">
              <h2 class="cta__title">{{ block.cta_title }}</h2>
              {{ block.description_html }}
            </div>

            {% unless block.buttons == empty %}
              <div class="cta__actions">
                {% for button in block.buttons %}
                  <a href="{{ button.link }}" class="button {% if button.button_style == 'primary' %} primary{% endif %}">{{ button.text }}</a>
                {% endfor %}
              </div>
            {% endunless %}

          </div>
        </div>
    {% endcase %}
  {% endfor %}

</article>
