<button id="career-apply-button" type="button" name="button" aria-expanded="false" aria-controls="career-form">Apply</button>

<form id="career-form" class="form form--career" method="POST" action="{{ site.data.careers.success_redirect_url }}" data-collapsed="true">

  <label class="text-bold" for="name-first">Name <span class="required">*</span></label>
  <div class="row mb-1">
    <div class="one-half">
      <input id="name-first" type="text" name="name-first" placeholder="First Name" required>
    </div>
    <div class="one-half">
      <input id="name-last" type="text" name="name-last" placeholder="Last Name" required>
    </div>
  </div>

  <div class="row mb-2">
    <div class="one-half">
      <label class="text-bold" for="email">Email <span class="required">*</span></label>
      <input id="email" type="email" name="_replyto" required>
    </div>
    <div class="one-half">
      <label class="text-bold" for="phone">Phone Number <span class="required">*</span></label>
      <input id="phone" type="text" name="phone" required>
    </div>
  </div>

  <label class="text-bold" for="application-message">Application</label>
  <textarea rows="8" id="application-message" class="w-100 mb-2" name="application-message"></textarea>

  <input type="hidden" name="_to" value="{{ site.data.careers.emails | join: ',' }}">
  <input type="hidden" name="_subject" value="{{ page.title }} Career Inquire">
  <input type="text" name="_gotcha" style="display: none;">

  <input class="primary" type="submit" value="Send Application">
</form>
