<footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">

  {% if site.data.footer.footer_form.show_form %}
    {% unless page.emails %}

      <div class="form">

        <p class="header">{{ site.data.footer.footer_form.form_title }}</p>

        {{ site.data.footer.footer_form.text_html }}

        <form method="post" action="{{ site.data.footer.footer_form.success_redirect_url }}">

          <div class="row">
            <div class="one-half">
              <label class="screen-reader-text">Name</label>
              <input type="text" name="name" placeholder="Name" required>
            </div>
            <div class="one-half">
              <label class="screen-reader-text">Email Address</label>
              <input type="text" name="email" placeholder="Email" required>
            </div>
          </div>

          <label class="screen-reader-text">Message</label>
          <textarea name="message" rows="6" placeholder="Message"></textarea>

          <input type="hidden" name="_to" value="{{ site.data.footer_form.emails | join: ',' }}">
          <input type="hidden" name="_subject" value="{{ site.data.footer_form.email_subject }}">
          <input type="text" name="_gotcha" style="display: none;">

          <input class="primary" type="submit" value="Send Message">
        </form>

      </div>

    {% endunless %}
  {% endif %}

  {% unless site.data.footer.footer_widgets == nil %}
    <div class="navigation">
      {% for widget in site.data.footer.footer_widgets %}
        {% case widget._id %}
          {% when 'contact_info' %}
            <div class="{% if forloop.length == 3 %}one-third{% elsif forloop.length == 4 %}one-fourth{% endif %}">
              <p class="navigation__title">{{ widget.contact_widget_title }}</p>
              <div class="navigation__list">
                <p>{{ site.data.site_info.address.street1 }}</p>
                {% if site.data.site_info.address.street2 %}<p>{{ site.data.site_info.address.street2 }}</p>{% endif %}
                <p>{{ site.data.site_info.address.city }}, {{ site.data.site_info.address.state }} {{ site.data.site_info.address.zip_code }}</p>
                {% for numbers in site.data.site_info.phone_numbers %}
                  <p>{{ numbers }}</p>
                {% endfor %}
              </div>
            </div>
          {% when 'footer_widget_image' %}
            <div class="{% if forloop.length == 3 %}one-third{% elsif forloop.length == 4 %}one-fourth{% endif %}">
              <p class="navigation__title">{{ widget.footer_image_title }}</p>
              <img src="{{ widget.footer_image }}" alt="{{ widget.footer_image_alt }}">
            </div>
          {% when 'navigation' %}
            <div class="{% if forloop.length == 3 %}one-third{% elsif forloop.length == 4 %}one-fourth{% endif %}">
              <p class="navigation__title">{{ widget.navigation_list_title }}</p>
              <nav class="navigation__list">
                {% for link in widget.navigation_links %}
                  <a href="{{ link.link }}">{{ link.text }}</a>
                {% endfor %}
              </nav>
            </div>
          {% when 'newsletter_signup' %}
            <div class="{% if forloop.length == 3 %}one-third{% elsif forloop.length == 4 %}one-fourth{% endif %}">
              <p class="navigation__title">{{ widget.newsletter_signup_title }}</p>
              {{ widget.newsletter_signup_text_html }}
              <form class="newsletter-signup" action="{{ widget.newsletter_submission_url }}" method="post">
                <label class="screen-reader-text" for="newsletter">{{ widget.newsletter_placeholder }}</label>
                <input type="email" value="" id="newsletter" placeholder="{{ widget.newsletter_placeholder }}" name="" required>
                <input type="submit" value="{{ widget.newsletter_button }}" id="subbutton">
              </form>
            </div>
          {% endcase %}
      {% endfor %}
    </div>
  {% endunless %}

  <p class="license" itemprop="license">{{ site.data.site_info.company_name }} &copy; {{ site.time | date: "%Y" }} &middot; <a href="https://webniyom.com/?utm_source=wallscleaningservices.com&utm_medium=footer_attribution" rel="nofollow">Built by WebNiyom</a></p>

</footer>
