<footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">

  {% if site.data.footer_form.show_form %}
    {% unless page.emails %}

      <p class="site-footer__header">{{ site.data.footer_form.form_title }}</p>

      {{ site.data.footer_form.text_html }}

      <form method="post" action="{{ site.data.footer_form.success_redirect_url }}">

        <div class="row">
          <div class="one-half">
            <label class="screen-reader-text">Name</label>
            <input type="text" name="name" placeholder="Name" required>
          </div>
          <div class="one-half">
            <label class="screen-reader-text">Email Address</label>
            <input type="text" name="email" placeholder="Email" required>
          </div>
        </div>

        <label class="screen-reader-text">Message</label>
        <textarea name="message" rows="6" placeholder="Message"></textarea>

        <input type="hidden" name="_to" value="{{ site.data.footer_form.emails | join: ',' }}">
        <input type="hidden" name="_subject" value="{{ site.data.footer_form.email_subject }}">
        <input type="text" name="_gotcha" style="display: none;">

        <input class="primary" type="submit" value="Send Message">
      </form>

    {% endunless %}
  {% endif %}

  <p class="license" itemprop="license">{{ site.data.site_info.company_name }} &copy; {{ site.time | date: "%Y" }} &middot; {% if site.data.social.facebook.url %}<a class="social-icon" href="{{ site.data.social.facebook.url }}"><svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg></a> &middot;{% endif %} <a href="{{ '/terms-conditions/' | absolute_url }}">Terms and Conditions</a> &middot; <a href="https://webniyom.com" rel="nofollow">Built by WebNiyom</a></p>

</footer>
