<header class="site-header" itemscope itemtype="https://schema.org/WPHeader">

    <div class="title-area">
      <p class="site-title" itemprop="headline"><a href="{{ '/' }}">{{ site.data.site_info.site_title }}</a></p>
    </div>

    <button class="responsive-menu-icon" aria-expanded="false" aria-controls="navigation">Menu</button>

    <nav class="navigation" id="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
      <ul class="menu" data-collapsed="true">

        {% assign url = page.url | remove: 'index.html' %}
        {% for menu_item in site.data.navigation %}
          <li class="menu-item{% if menu_item.featured %} featured{% endif %}{% if menu_item.url == url %} active{% endif %}">

            {% if menu_item.sub_menu_items %}
              <button class="sub-menu-toggle" aria-expanded="false"><span class="screen-reader-text">Sub-Menu</span><svg aria-hidden="true" focusable="false" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg></button>
            {% endif %}

            <a href="{{ menu_item.url }}"{% if menu_item.url == url %} aria-current="page"{% endif %} itemprop="url"><span itemprop="name">{{ menu_item.title }}</span></a>

            {% if menu_item.sub_menu_items %}
              <ul class="sub-menu" data-collapsed="true">
                {% for sub_menu_item in menu_item.sub_menu_items %}
                  <li class="menu-item{% if sub_menu_item.url == url %} active{% endif %}"><a href="{{ sub_menu_item.url }}"{% if sub_menu_item.url == url %} aria-current="page"{% endif %} itemprop="url"><span itemprop="name">{{ sub_menu_item.title }}</span></a></li>
                {% endfor %}
              </ul>
            {% endif %}

          </li>
        {% endfor %}

      </ul>
    </nav>

</header>
