.button {
  padding: .4rem .5rem;
  color: $primary-color;
  text-decoration: none;
  border: 1px solid $primary-color;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: $primary-color;
  }

  &.secondary {
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      color: $primary-color;
      background-color: #fff;
    }

  }

}
