.site-header {
  position: relative;
  margin: 0 auto ($spacer * 2);
  width: 100%;
  background-color: $primary-color;
  padding: ($spacer * 2) 0;

  .wrap {
    @extend %row; // in utilities.scss
    flex-direction: column;
    @include breakpoint(md) {
      flex-direction: row;
      align-items: center;
    }
  }

}

.title-area {
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
  }
}

.site-title {
  text-align: center;
  line-height: 1.2;
  font-size: $h5-font-size;
  font-weight: 400;
  @include breakpoint(md) {
    margin-bottom: 0;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: $body-text-color;

    &:hover {
      text-decoration: none;
      color: $body-text-color;
    }

  }

}
