%wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  @include breakpoint(lg) {
    max-width: 48rem;
  }
  @include breakpoint(xl) {
    max-width: 57rem;
  }
  @include breakpoint(xxl) {
    max-width: 64rem;
  }
}

.wrap {
  @extend %wrap;
}

.site-inner {
  @extend %row; // in utilities.scss
  position: relative;
  flex: 1 0 auto;
  background-color: #fff;
}

.main {
  display: block; // Fixes IE bug on `main` element
  position: relative;
  flex: 1 1 43rem;
  margin: 0 auto;
  width: 100%;
  max-width: 43rem;
}
